


#lp-valentijn{
	margin: 0 auto;
	width: 100%;

// START NESTING
// -------------

	.clearfix:after{
		clear: both;
		content: '';
		display: table;
	}

	.lp-valentijn-hero{
		margin-bottom: 4em;
	}

	h1{
		margin-bottom: 1.5em;
		text-align: center;
	}

	p{
		margin: 2em auto;
		text-align: center;
		width: percentage(780/1170);

		@media only screen and(max-width: 1199px) {
			width: 80%;
		}

		@media only screen and(max-width: 979px) {
			width: 100%;
		}

		@media only screen and(max-width: 767px) {
			width: 90%;
		}
	}

	.lp-valentijn-cta{
		display: block;
		height: 2.857em;
		line-height: 2.857em;
		margin: 4em auto 0;
		padding: 0 1.5em;
		width: 17.143em;

		&:after{
			float: right;
			line-height: 2.875em;
		}
	}
	
// END NESTING
// -----------
}